<header class="hero">
    <div class="hero__image">
        <div>IMAGE:  {{block.image}}</div>

        <div>SRC: {% src block.image %}</div>

        {# {% srcset block.image %} #}
        <img src="{% src block.image %}"
            srcset="{% srcset block.image %}"
            {# sizes="{% defaultSizes %}" #}
            alt="{{block.heading}} image"
            width="2953"
            height="2178"
            loading="lazy"
            class="super-great-style-class">
    </div>
    <div class="hero__content">
        <h1>{{ block.heading }}</h1>
        {% if block.content and block.content != '' %}
            <div class="hero-inner">
                {{ block.content }}
            </div>
        {% endif %}
    </div>
</header>