{% set target = page.url + 'index' %}
<pre>subMenus: {{ subMenus | dump(2)  }}</pre>

{% set subMenu = subMenus.menu %}

{%- for items in subMenu -%}
    <menu title="{{items.menuTitle}} sub menu">
        {%- if items.belongsTo == title -%}
            <nav>
                <ul>
                    {%- for items in items.menuItems -%}
                        <li>
                            <a href="/{{ items.url }}">{{ items.title }}</a>
                        </li>
                    {%- endfor -%}
                </ul>
            </nav>
        {% endif %}
    </menu>
{%- endfor -%}

{#

{% if collections[tags] %}
    <menu class="sub-navigation">
        <nav>
            <ul>
                {%- for item in collections[tags] -%}
                    <li {{ 'aria-current=page' if item.url === page.url }}>
                        <a href="{{ item.url }}" {{ 'class=active' if item.url === page.url }}>{{ item.data.title }}</a>

                        {% if childOf %}
                            <ul>
                                {%- for item in collections[tags] -%}
                            test
                            {%- endfor -%}
                            </ul>
                        {% endif %}
                    </li>
                {%- endfor -%}
            </ul>
        </nav>
    </menu>
{% endif %} #}
{# <nav>
    {% set level = 0 %}
    {% set collectionLength = collections[tags] | length %}

    {%- for page in collections[tags] -%}
        {% set ulCount = (page.data.level - level) | abs %}
        {%- for i in range(0, ulCount) -%}
            {%- if page.data.level > level -%}
                <ul>
                    <li>
                        <a href="{{ page.url }}">
                            {{ page.data.title }}
                        </a>

                    {% else %}
                    </li>
                </ul>
            {%- endif -%}

        {%- endfor -%}
        {% set level = page.level %}

    {%- endfor -%}

    {%- for i in range(0, level) -%}
</ul>
{%- endfor -%}
</nav> #}