
//========== Site ==========//

// wrapper
.wrapper {
    min-height: 100vh;
    flex-direction: column;
    @include apply-utility('bg', 'white');
    @include apply-utility('color', 'black');

}

@include media-query('mobileXL') {

    .wrapper {
        padding-bottom: 0;
    }
}

